.title{
    text-align: center;
    justify-content: center;
}

.dialogue{
    text-align: center;
    justify-content: center;
}

.standings{
    margin-left: auto;
    margin-right: auto;
}

.recent-fixtures{
    text-align: center;
    justify-content: center;
}

.fixtures{
    text-align: center;
    justify-content: center;
}

.image{
    height: 20px;
    width: 20px;
}

.header{
    text-align: center;
    justify-content: center;
}