.playerTeamLogo h4 img{
    width: 20px;
    height: 20px;
    position: relative;
    left: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .comment {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
   }
   
   .comment:focus, .comment:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
   }
   
   .comment::placeholder {
    color: #777;
   }
   
   .comment:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }