.squad-name{
    text-align: center;
    justify-content: center;
}

.squad-logo{
    height: 22px;
    width: 22px;
}

.player-img{
    height: 30px;
    width: 30px;
}

button {
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #488aec;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all .6s ease;
  }
  
  button:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
  }
  
  button:focus,button:active {
    opacity: .85;
    box-shadow: none;
  }
  
  button svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
  }
  
  th {
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #ddd;
  }
  
  .player-img {
    width: 50px;
    height: 50px;
  }

  .team-name{
    text-align: center;
    justify-content: center;
  }
  