.register {
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/1/373/desktop-wallpaper-nike-reveal-new-premier-league-match-ball-for-2022-2023-premier-league.jpg);
  /* object-fit: cover; */
  position: relative;
  margin-bottom: -300%;
  height: 100vh;
  /* background-repeat:repeat; */
}
